@page
@model IndexModel
@{
    ViewData["Title"] = "Página do Aluno";
}

<div class="text-center">
    <h1 class="display-4">Tenha orgulho do seus estudos</h1>
    <p>Durante o aprendizado cada dia que se passa fica cade vez mais difícil, mas tudo bem a graça e justamente essa
        tudo que você precisa fazer é se manter focado em aprender pelo menos 1% todos os dias, pequenos ganhos ger grandes ganhos
        e consequentemente em algum momento você irá alcançar o seu objetivo, então sorria e continue sua jornada graciosamente =)
    </p>
</div>
